<div class="tokenfield form-control">
  {{#each tokens as |token|~}}
    {{edit-token token=token.value removedToken=(action "remove")}}
  {{~/each}}
  {{input type="text" value=newToken enter=(action "add") class="token-input" autocomplete="off" placeholder="" tabindex="0" style="min-width: 120px;"}}
</div>
