<form class="form-signin" {{action "triggerSignIn" on="submit"}}>
  <h1 class="form-signin-heading text-muted">Sign In</h1>

  {{#if errorMessage}}
    <div class="alert alert-danger">
      {{errorMessage}}
    </div>
  {{/if}}

  {{input value=email type="text" class="form-control" placeholder="Email address" autofocus="autofocus"}}
  {{input value=password type="password" class="form-control" placeholder="Password"}}
  <button class="btn btn-lg btn-primary btn-block" type="submit">
    Sign In
  </button>
</form>
