<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      {{#link-to 'index' class="navbar-brand"}}Emberbook{{/link-to}}
    </div>

    <ul class="nav navbar-nav">
      <li>
        {{#link-to 'companies' class="companies"}}Companies{{/link-to}}
      </li>
      <li>
        {{#link-to 'connections'}}Connections{{/link-to}}
      </li>
      <li>
        {{#link-to 'messages'}}Messages{{/link-to}}
      </li>
      <li>
        {{#link-to 'news'}}News{{/link-to}}
      </li>
      {{#unless user.isLoggedIn}}
        <li>
          {{#link-to 'login'}}Login{{/link-to}}
        </li>
      {{else}}
        <li>
          {{#link-to 'logout'}}Logout{{/link-to}}
        </li>
      {{/unless}}
    </ul>
  </div>
</nav>

{{outlet}}
